body{

    background: #7349ce;

}

.titulo{

    font-size: 40px;
    color: #bfa7f4;
    text-align: center;
    text-shadow: #bda7e9 0px 0px 9px;
    cursor:default;
    
}

.ClaseGeneral{

    margin-right: 5px;

}
.contenedor{

    width: 500px;
    height: 350px;
    background-image: linear-gradient(#b298e9 30%, #977dff 60%, #ae8ff1);
    border-radius: 30px;
    box-shadow: 10px 10px 10px #5b3d9b;
    border: 3px solid #9b7ae2  ;
    margin: auto;
   
}


.logo{

    height: 100px;
    margin-left: 190px;
    padding-top:40px;    

}

.formcontent{

    margin-left: 150px; 
   
    
}

.formlabel{

    font-weight: bold;
    color: #6d54c4;
    font-size: 20px;
    display: block;
    margin: 3px;
    padding-left: 35px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

.buttoningresar{

    border-radius:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: aliceblue;
    background-color:#6b4bb0;
    border: #5a2cbe 2px solid;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    height: 25px;
}

.buttoningresar:hover {

    background: #8960e0;
    
}

.buttoningresar:active {

    background: #675298;
    
}
.buttonregistrarse{

    border-radius: 10px;
    border: 2px solid #6640c0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8051e6;
    color: aliceblue;
    cursor: pointer;
    font-weight:600;
    font-size: 15px;
    width: 100px;
    height: 25px;

}

.buttonregistrarse:hover{

    background: #5b3d9b;
}

.buttonregistrarse:active{

    background: #8f61f2;
}

.forminput{

    color: #5b3d9b;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #856bbd;
    outline:none;
    height: 25px;

}

.forminput:focus{

 border-color: #5c2ba0;
 box-shadow: #5d347d87 0 0 0 0.2rem;

}

.ApartadoFooter{

    margin-top: 100px;
    text-align: center;
    font-weight: 450;
    color: #bfa7f4;
    cursor: default;
}

.ApartadoFooter :hover{

    text-shadow: #d6cbed 0px 0px 9px;
   

}