body{

    background: #7349ce;

}

.titulo{

    color: #ae8ff1;
    text-align: center;
}

.contenedor{

    width: 500px;
    height: 350px;
    background-image: linear-gradient(#b298e9 30%, #977dff 60%, #ae8ff1);
    border-radius: 30px;
    box-shadow: 10px 10px 10px #5b3d9b;
    border: 3px solid #9b7ae2  ;
   
}


.subtitulo{
    font-style: italic;
    font-size: 28px;
    color: #5a2cbe;
    text-align: center;
    text-decoration:underline;
}

.logo{

    height: 70px;
    padding-left: 110px;
    margin-left: 105px;


}

.formcontent{

    padding-left: 60px;
    margin-left: 100px;
    
}

.formlabel{

    font-weight: bold;
    font-style: italic;
    color: #6d54c4;
    font-size: 18px;
    display: block;
}