body{

    background: #7349ce;

}

.titulo{

    font-size: 40px;
    color: #bfa7f4;
    text-align: center;
    text-shadow: #bda7e9 0px 0px 9px;
    
}

.contenedor{

    width: 500px;
    height: 350px;
    background-image: linear-gradient(#b298e9 30%, #977dff 60%, #ae8ff1);
    border-radius: 30px;
    box-shadow: 10px 10px 10px #5b3d9b;
    border: 3px solid #9b7ae2  ;
   
}

.logo{

    height: 100px;
    padding-left: 100px;
    margin-left: 90px;
    padding-top:60px;
    

}

.formcontent{

    padding-left: 60px;
    margin-left: 100px;
    
}

.formlabel{

    font-weight: bold;
    font-style: italic;
    color: #6d54c4;
    font-size: 18px;
    display: block;
}

.buttoningresar{

    border-radius:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: aliceblue;
    background-color:#6b4bb0;
    border: #5a2cbe 2px solid;
    font-weight: 600;
}

.buttoningresar:hover {

    background: #8960e0;
    
}

.buttoningresar:active {

    background: #675298;
    
}
.buttonregistrarse{

    border-radius: 10px;
    border: 2px solid #6640c0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8051e6;
    color: aliceblue;
    cursor: pointer;
    font-weight:600;

}

.buttonregistrarse:hover{

    background: #5b3d9b;
}

.buttonregistrarse:active{

    background: #8f61f2;
}
